# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/
lab4env/

# Ignore dataset and output files
*.csv
*.tsv
*.json
*.log
*.out
*.pt
*.model
*.zip
*.vocab
directory_structure.txt
lab4_NOT.ipynb

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore these directories
wmt_devsets/
to_server/
abstracts/
data/
models/
dataOLD/
dataALT/
dataALT2/
dataALT3/
dataALT4/
modelsOLD/
output/
old_files/
logs/
