# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore dataset and output files
*.csv
*.tsv
*.json
*.log
*.out
*.pt  # PyTorch checkpoint files

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore these directories
wmt_devsets/
to_server/
abstracts/
